[submodule ".registry"]
	path = .registry
	url = https://github.com/mps9506/mps9506.r-universe.dev
	branch = HEAD
[submodule "bookdowntargets"]
	path = bookdowntargets
	url = https://github.com/mps9506/bookdowntargets
[submodule "dartx"]
	path = dartx
	url = https://github.com/mps9506/dartx
[submodule "echor"]
	path = echor
	url = https://github.com/mps9506/echor
[submodule "mpsTemplates"]
	path = mpsTemplates
	url = https://github.com/mps9506/mpsTemplates
[submodule "quartoYAAC"]
	path = quartoYAAC
	url = https://github.com/mps9506/quartoYAAC
[submodule "rATTAINS"]
	path = rATTAINS
	url = https://github.com/mps9506/rATTAINS
[submodule "tbrf"]
	path = tbrf
	url = https://github.com/mps9506/tbrf
